@import 'src/styles/typography';
@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/layers';

$service-block-text-color: $black;
$service-block-background: $ripe-lemon;

.serviceBlock {
  &:hover {
    .summary {
      max-height: 200px;
      padding-bottom: em(5, 14);
    }
  }

}

.header {
  @extend %font-size-medium;

  color: $service-block-text-color;
  font-weight: 600;
  font-family: $primary-font-name;
  padding: em(15, 19);
  background: $service-block-background;
  text-align: center;
  box-shadow: 10px 10px 18px -6px rgba(0, 0, 0, 0.75);


  &.withSummary {
    cursor: pointer;
  }
}

.summary {
  @extend %font-size-copy;

  color: $service-block-text-color;
  padding: 0 em(5, 14);
  background: $service-block-background;
  max-height: 0;
  transition: max-height $transition-time-smooth;
  font-family: $secondary-font-name;
  overflow: hidden;
}
