//other
$transparent: transparent;
$semi-transparent: 0.5;

// transition-times
$transition-time-basic: 0.18s;
$transition-time-quick: 0.3s;
$transition-time-smooth: 0.5s;
$transition-time-long: 1s;
$transition-time-very-long: 1.5s;