@import 'src/styles/typography';
@import 'src/styles/colors';
@import 'src/styles/variables';
@import 'src/styles/layers';

$footer-text-color: white;
$footer-background: $black;

.footer {
  padding: em(100px) em(10px) em(50px);
  background: $footer-background;
  color: $footer-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  a {
    text-decoration: none;
    color: $footer-text-color;
  }

  @include mobile {
    padding-top: 1em;
  }
}
